language: php

env:
  - APP_ENV=travis

php:
  - 5.3.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - nightly

before_script:
  ## Composer
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - phpunit

matrix:
  allow_failures:
    - php: hhvm
