<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false">
  <testsuites>
    <testsuite name="Browser Test Suite">
      <directory>./test/Browser/</directory>
    </testsuite>
  </testsuites>
</phpunit>